<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="sample" >
		<classes>
			<!-- <class name="superadmin.SuperAdminModule"/> -->
			<!--  <class name="admin.SystemSettings" /> -->
			<!--  <class name="admin.Configuration" /> -->
			<!-- <class name="admin.Organization" /> -->
			<!-- <class name="admin.UserManagement" /> -->
		</classes>
	</test>
</suite>
